* {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#movie {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 250px;
    min-width: 250px;
    max-width: 100%;
  }
  
  img {

  }
  


  
