
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: #090A0B;
  font-family: 'Roboto', sans-serif;
}

.header-link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  color: white;
  transition: color 0.2s;
}

.header-link:hover {
  color: #DABD5E;
  transition: color 0.2s;
  animation: hover-effect 0.0167s linear infinite;
}

@keyframes hover-effect {
  0% {
      color: #DABD5E;
  }
  50% {
      color: #DABD5E;
  }
  100% {
      color: #DABD5E;
  }
}


.marquee {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h2 {
  color: white;

}

p {
  color: white;
  text-decoration: none;
}


a {
  color: white;
  text-decoration: none;
}

.movie-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.movie-container::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
}

.movie-item {
  flex: 0 0 auto;
  margin-right: 20px;
  text-align: center;
}

.movie-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Add transition property */
}

.movie-image:hover {
  transform: scale(1.1); /* Apply scale transformation on hover */
}

#movieTitle {
  size: 15px;
}

#movieTitle,
#movieSynopsis,
.movie-title {
  color: white;
}





#searchContainer {
  position: relative;
  display: inline-block;
}

#searchInput {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: #1C2129;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: background-color 0.3s ease;
  color: white;
}

#searchInput::placeholder {
  color: #999;
}


#searchContainer:hover #searchInput {
  border: 1px solid #ccc;
}

#searchContainer:hover #searchInput:focus {
  border-color: #aaa;
}


#searchInput::placeholder {
  color: #999;
}

#searchButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #1C2129;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #293139;
}



#searchOverlay {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #1C2129;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#searchContainer:hover #searchOverlay {
  display: block;
  opacity: 1;
}

#autocompleteResults,
#searchResults {
  max-height: 300px;
  overflow-y: auto;
  padding: 8px;
}

#autocompleteResults {
  max-height: 300px;
  overflow-y: auto;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.autocomplete-item,
.searchResult {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-item:hover,
.searchResult:hover {
  background-color: #1C2129;
}

#searchInput:focus ~ #searchOverlay #autocompleteResults {
  opacity: 1;
}


.movie-container {
  position: relative;
  overflow: hidden;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 200px auto;
  padding: 20px;
  background-color: #1C2129;
  border: 1px solid #1C2129;
  border-radius: 5px;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.register-form .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-form .form-submit {
  width: 100%;
  padding: 10px;
  background-color: #ff8c00;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.register-form .form-submit:hover {
  background-color: #e36200;
}

.serie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.serie {
  margin: 10px;
  text-align: center;
}

.serie img {
  border: 2px solid #ddd;
  border-radius: 5px;
}


.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  margin: 10px;
  text-align: center;
}

.movie img {
  border: 2px solid #ddd;
  border-radius: 5px;

}



.movie-details-container {
  display: flex;
  align-items: center;
}

.movie-details {
  margin-left: 20px;
  flex-grow: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}


